*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body{
  background-color: burlywood;
  display: grid;
  place-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.container{
  height: 80vh;
  width: 70vh;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.wrapper{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}
.screen {
  grid-column: 1/-1;
  color: white;
  text-align: right;
  overflow: hidden;
  border: 1px solid white;
  padding: 2%;
}
.btn {
  display: grid;
  place-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.btn:hover{
  background-color: gray;
}
.light-gray {
  background-color: gray;
  color: black;
}
.light-gray:hover {
  background-color: white;
}
.orange {
  background-color: orange;
  
}
.orange:hover {
  background-color: white;
color: orange;
}
.zero{
  grid-column: 1 / span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}